body {
    margin: 0;
    overflow: hidden; /* Evita el desplazamiento */
}

canvas {
    display: block;
}

#container {
    position: relative;
    z-index: 1; /* Para que el contenido esté por encima del video */
}

#video-fondo {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; /* Envía el video al fondo */
    transform: translate(-50%, -50%);
}

/* Estilo para el contenedor del slider y el reloj */
.slider-container {
    position: fixed;
    top: 10px;
    right: 10px;
    left: 10px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; /* Cambiado para acomodar etiquetas de décadas */
}

/* Estilo del botón */
#toggle-orbits {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px; /* Espacio debajo del botón */
}

/* Estilo del reloj en el centro */
#clock {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

/* Estilo del slider */
#timeSlider {
    -webkit-appearance: none;
    width: 25%; /* Ocupa el 25% de la pantalla */
    height: 40px;
    background: rgb(15, 15, 15);
    border-radius: 10px;
    position: relative;
}

/* Estilo del relleno de la barra */
#timeSlider::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    background: white;
}

/* Estilo para el cursor */
#timeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: black;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    cursor: pointer;
    position: relative;
    margin-top: -5px;
}

/* Estilo para la parte cargada de la barra */
#timeSlider::-moz-range-track {
    width: 100%;
    height: 10px;
    background: white;
}

#timeSlider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: black;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    cursor: pointer;
}

/* Estilo para las etiquetas de las décadas */
.decade-labels {
    display: flex;
    justify-content: space-between;
    width: 25%; /* Cambiado para coincidir con el ancho del slider */
    margin-top: 5px; /* Espacio entre la barra y las etiquetas */
}

.decade {
    position: relative;
    top: -25px; /* Ajustar la posición de las etiquetas */
    font-size: 14px; /* Tamaño de fuente de las etiquetas */
    color: white; /* Cambiado a blanco */
}